header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%
  align-items: center;
  border-bottom: 1px solid darkblue;


}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
  border: 1px solid black;
  margin-bottom: 5px;
}

.logo img {
  padding: 10px 5px;
}

.logo span {
  color: mediumaquamarine;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

 header nav {
   padding-right: 40px;
 }

 main {
   display: flex;
   padding-top: 5px;
   border: 1px solid black;
   width: 1250px;
   margin: auto;


 }

main article {
  border: 2px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

 .column.large {

   width: 630px;
   border: 1px solid black;

 }


 .column.medium {

   width: 300px;
   border: 1px solid black;
 }


.column.small {

  width: 240px;
  border: 1px solid black;
}

.img {
  display: flex;
  height: 200px;
  color:white;

}

.main {
  background-image:url(../mainstory.png);

}

.grill {
  background-image:url(../grill.png);

}

.camera {
  background-image:url(../camera.png);
}

.cat {
  background-image:url(../cat.png);
}
